@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  *::before,
  *::after {
    @apply box-border;
  }
  /* html,
  body{
    @apply w-screen h-screen overflow-x-hidden
  } */
}
@layer utilities {
  .storke-text {
    -webkit-text-stroke: 1px #000000;
    -webkit-text-fill-color: white;
    font-szie: 30px;
  }
  .bgBlur{
    box-shadow: 0px 0px 20px #E033FF, 0 0 40px #E033FF, 0 0 80px #E033FF, 0 0 120px #E033FF, 0 0 200px #E033FF;
  }
  .transform-3d{
    transform-style: preserve-3d;
  }
}

@layer components {
  .swiper-button{
    @apply relative after:content-[''] after:absolute after:bg-white after:w-[1.5rem] after:h-[1.5rem] after:top-[55%] after:left-[50%] after:translate-x-[-50%] after:translate-y-[-50%] z-30 after:z-10;
  }
  .swiper-icon {
    @apply text-red-600 relative z-20;
  }
  .activeCard{
    @apply bg-black text-black shadow-lg shadow-black;
  }
  .bubble{
    @apply absolute z-[-1] lg:w-[15vw] lg:h-[15vw] md:w-[30vw] md:h-[30vw] opacity-[0.8] object-cover rounded-[50%] first-of-type:top-[17%] first-of-type:left-[5%] sm:first-of-type:left-[9px];
  }
  .button{
    @apply p-[10px] bg-primary border border-primary rounded-[8px] flex justify-center items-center font-bold text-white min-w-[100px];
    &__outline-primary{
      @apply bg-transparent text-primary hover:bg-primary hover:text-white;
    }
    /* &__outline-danger{
      @include button(transparent) {
        border: 1px solid $danger;
        color: $danger;
      }
      &:hover{
        background: $danger;
        color: #FFFFFF;
      }
    } */
  }
}