@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  html,
  body,
  *::before,
  *::after {
    @apply border-box;
  }
  html,
  body{
    @apply w-screen h-screen overflow-x-hidden
  }
} */

@layer utilities {
  .storke-text {
    -webkit-text-stroke: 1px #000000;
    -webkit-text-fill-color: white;
    font-szie: 30px;
  }
}

@layer components {
  .swiper-button{
    @apply relative after:content-[''] after:absolute after:bg-white after:w-[1.5rem] after:h-[1.5rem] after:top-[55%] after:left-[50%] after:translate-x-[-50%] after:translate-y-[-50%] z-30 after:z-10;
  }
  .swiper-icon {
    @apply text-red-600 relative z-20;
  }
  .activeCard{
    @apply bg-black text-black shadow-lg shadow-black;
  }
  .bubble{
    @apply absolute z-[-1] lg:w-[15vw] lg:h-[15vw] md:w-[30vw] md:h-[30vw] opacity-[0.8] object-cover rounded-[50%] first-of-type:top-[17%] first-of-type:left-[5%] sm:first-of-type:left-[9px];
  }
  .button{
    @apply p-[10px]
    /* background-color: $bg;
    padding: 10px;
    border: 1px solid $bg;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    color: #FFFFFF;
    font-weight: bold;
    min-width: 100px;
    @content */
  }
}